{% extends "@EasyWorkflow/base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="container-fluid">
        {% for notice in app.session.flashBag.get('notice') %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                {{ notice|trans }}
            </div>
        {% endfor %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>群组名称</th>
                <th>角色</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <th scope="row">{{ group.id }}</th>
                    <td>{{ group.groupName }}</td>
                    <td>{{ group.roleNames|join(', ') }}</td>
                    <td>{{ group.createAt|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('group_edit', {id:group.id}) }}" class="btn btn-danger btn-xs"><i
                                    class="glyphicon glyphicon-trash"></i> 编辑</a>
                        {% if is_granted('ROLE_LOGIN_USER') %}
                            <a href="{{ path('group_delete', {id : group.id}) }}" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
