{% extends '@EasyWorkflow/base.html.twig' %}

{% block content %}
    <!-- content -->
    <div class="col-md-10">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>文件列表</h1>
            </div>
        </div>
    </div>
    {% include '@EasyWorkflow/_flash_messages.html.twig' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">文件列表</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>文件名称</th>
                                    <th>mimeType</th>
                                    <th>大小</th>
                                    <th>上传日期</th>
                                    <th>
                                        <a href="{{ path('easyworkflow_files_uploadview') }}"
                                           class="btn btn-primary btn-sm">
                                            <i class="glyphicon glyphicon-upload"></i> 上传
                                        </a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for file in files %}
                                    <tr>
                                        <td><a href="{{ path('easyworkflow_files_read', {id : file.file['_id']}) }}"
                                               target="_blank">{{ file.file['filename'] }}</a></td>
                                        <td>{{ file.file['mimeType'] }}</td>
                                        <td>{{ file.file['size'] }}</td>
                                        <th>{{ file.file['uploadDate'].sec|date('Y-m-d') }}</th>
                                        <td>
                                            <a href="{{ path('easyworkflow_files_delete', {id : file.file['_id']}) }}"
                                               onclick="return confirm('确定要删除该条数据？')"
                                               class="btn btn-danger btn-sm">
                                                <i class="glyphicon glyphicon-trash"></i> 删除
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}